
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <%= form_with(url: articles_path, method: "get") do %>
        <%= label_tag(:q, "Search Articles") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
  </div>
</nav>

<table class="table">
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
  </tr>
      <% obj.each do |article| %>
        <tr>
          <td><%= link_to article.title, article %></td>
          <td style="overflow: hidden; text-overflow: ellipsis;"><%= article.description %></td>
          <td>Created by: <%= article.user.username if article.user %></td>
          <% if logged_in? && current_user == article.user %>
            <td><%= link_to 'Edit', edit_article_path(article) %></td>
            <td> | </td>
            <td style="text-align:center"> <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
          <% end %>
        <% end %>
</table>
<button class="btn btn-outline-primary btn-md"><%= link_to 'New Article', new_article_path %></button>
