<%= render 'shared/errors', obj: @user %>

<div class='row'>
  <div class='col-md-12'>
  <%= form_for @user do |f| %>
    <div class='form-group'>
      <label for='title'>Username</label>
      <%= f.text_field :username, class: "form-control", id: "exampleFormControlInput1",
                        placeholder: "Enter username" %>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Email</label>
      <%= f.email_field :email, class: "form-control", id: "exampleFormControlInput1",
                        placeholder: "Enter email" %>

      <label for='title'>Password</label>
      <%= f.password_field :password, class: "form-control", id: "exampleFormControlInput1",
                        placeholder: "Enter password" %>
    </div>
    <%= f.submit(@user.new_record? ? "Sign up" : "Update your account", class: 'btn btn-primary btn-lg') %>
  <% end %>
  <div class='center' padding-top='50px'>
    [ <%= link_to "Cancel request and return to articles listing", articles_path %> ]
  </div>
  </div>
</div>
