<h1 class="display-2" align="center">Alpha Bloggers</h1>
<nav class="navbar navbar-expand-lg navbar-light" align="center">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-group my-2 my-lg-0 ml-auto mr-auto">
      <%= form_with(url: articles_path, method: "get", class: "form-control") do %>
        <%= label_tag(:q, "Search Users", class: "lead") %>
        <%= search_field_tag(:q) %>
        <%= submit_tag("Search", class: "btn btn-primary") %>
      <% end %>
  </div>
</nav>
<nav class="pagination justify-content-center" >
  <%= will_paginate %>
</nav>
<% search_results(User.all).each do |user| %>
  <div class="card-decks" align="center">
    <div class="card border-dark mb-3" style="width: 35rem;" align="center">
      <div class="card-body text-dark" align="center">
        <h5 class="card-header"><%= link_to gravatar_for(user), user_path(user) %></h5>
        <p class="card-text"><%= link_to user.username, user_path(user) %></p>
        <small><%= pluralize(user.articles.count, "article") if user.articles %></small>
        <div class="container">
          <% if logged_in? && current_user.admin? %>
          <%= link_to 'Delete User', user_path(user), method: :delete,
              data: {confirm: 'Are you sure you want to delete the user and all their articles?'},
              class: "card-link btn btn-sm btn-outline-danger" %>
          <% end %>
        </div>
      </div>
    </div
  </div>
<% end %>
