<h1 align="center">Welcome to <%= @user.username %>'s page:</h1>

  <div class="center">
    <%= gravatar_for @user, size: 110 %>
  </div>

<h4 align="center"> <%= @user.username %>'s articles </h4>
<nav class="pagination justify-content-center" >
  <%= will_paginate @user_articles %>
</nav>
<%= render 'articles/article', obj: @user_articles %>
